<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <h1>Salut l'ami</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut autem, commodi laudantium molestias perferendis quod ut veritatis? Ab fugiat in officia possimus quam, voluptas. Blanditiis eligendi eum impedit porro? Dicta, dolores ex exercitationem mollitia porro repudiandae saepe ullam! Reprehenderit.</p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
